@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@300;400;500;600&display=swap');

body {
  font-family: $font-sans;
  background: $bg;
  color: $ink;
}

code, pre, .mono {
  font-family: $font-mono;
}
